* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: rgb(96,114,186);
  background: radial-gradient(circle, rgba(81,113,156,0.9) 0%,  rgba(0,0,0,1) 100%);
}

.game-container{
  max-width: 300px;
  margin: 30px auto;
  width: 100%;
}

.square {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  font-size: 24px;
  font-weight: bold;
  /* line-height: 34px; */
  height: 50px;
  width: 50px;
  padding: 0;
  text-align: center;
}

.game-board{
  display: grid;
  justify-content: center;
}

.board-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
